body{
	margin: 0;
	background-color: rgb(235, 234, 234);
	font-family: "Century Gothic";
}

header{
	height: 80vh;
	background-image: url('../imges/dtu.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

	/* responsible for the skewed header */
	clip-path: polygon(100% 0, 100% 90%, 69% 100%, 0 85%, 0 0);

	/* responsible for the parallax effect */
	background-attachment: fixed;
}

section{ padding: 0 60px 0; text-align: center;}

.department1,
.department2,
.department3{
    display: inline-block;
    height: 400px;
    width: 300px;
    padding: 0 2.3%;
    text-align: center;
	font-family: "Century Gothic";
}

.department4,
.department5{
    display: inline-block;
    height: 300px;
    width: 40%;
    padding: 0 2.3%;
    text-align: center;
	font-family: "Century Gothic";
}

.imges{
    display: inline-block;
    height: 300px;
    width: 400px;
}

.t{
    display: inline-block;
    width: 25%;
    padding: 0 2.3%;
    text-align: center;
	font-family: "Century Gothic";
}

.t2{
    display: inline-block;
    width: 40%;
    padding: 0 2.3%;
    text-align: center;
	font-family: "Century Gothic";
}

h1{
	margin: 100px 0 40px;
	font-size: 45px;
	text-transform: uppercase;
	font-weight: 400;
}

p{ line-height: 2; }

footer{
    width: 100%;
    position: absolute;
    top: 0%;
    color: rgb(150, 142, 142);
    display: flex;
    align-items: center;
    background-color: var(--grey-alt);
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    z-index: 999;
}

footer .tab{
    display: flex;
    align-items: center;
    padding: 5px 0;
    overflow: hidden;
    border-radius: 20px;
    transition: all .5s;
}

footer .icon{
    font-size: 2.5rem;
    color: rgb(0, 0, 0);
    margin: 0 20px;
}

footer .icon:hover{
    color: #3498db;
}

footer .tab p{
    margin-right: 8px;
    cursor: pointer;
}

a{
    text-decoration: none;
}